footer{
    align-items: center;
    background-color: #343434;
    color: #DCE1DA;
    display: flex;
    font-size: 16px;
    height: 96px;
    justify-content: space-between;   
    padding-left: 101px;
    padding-right: 101px;
    width: 100%;
    
}


