.productos{
    background: linear-gradient(to right,#F2F4F1 30%, #F2F4F1 80%, #DCE1DA 70%, #DCE1DA 100%);
    width: 100%;
    height: 40rem;
    position: relative;
}

.row{
    display: flex;
}

.espacio{
    height: 52%;
}

.posicion-imagen{ 
    width: 74%;
    height: auto;  
    position: absolute;
    top: 10%; 
    left: 14.5%; 
    right: 12%;
} 

.caja{
    background-color: #E0752F;
    color: white;        
    width: 471px;
    height: 300px;
    padding-top: 4rem;
    padding-left: 3rem;
    padding-right: 3rem;
    position:absolute;
}

.caja h2{
    font-size: 2.4rem;
}

.flecha [data-bs-toggle]{
    width: 40px;
    height: 40px;
}