.contacto{
    background: linear-gradient(to right,#F2F4F1 0%, #F2F4F1 80%, #DCE1DA 80%, #DCE1DA 100%);
    width: 100%;
    height: 43rem;
    position: relative;
    padding-left: 5rem;
    padding-top: 7.5rem;
}

.formulario-contacto{
    position: absolute;
    padding-top: 10%;
    padding-left: 5%;
}

.submitForm{
    background-color:#E0752F;
    border: #E0752F;
    position: absolute;
}

.submitForm:hover{
    background-color: #cb5a0f;
    border: #cb5a0f;
    color: white;
}

.form-group{    
    margin: 15px;    
    width: 30rem;   
    
}

.imagen-contacto{
    width: 40%;
    height: auto;  
    position: absolute;
    padding-top: 15%;

}


.form-control{
    border: none;    
    border-bottom:2px solid #E3E3E3;
    border-radius: 0;
    background-color: transparent;
    margin-bottom: 1.5rem;
    
}

#Contact h1{
    font-weight: bold;
    font-size: 2.4rem;
}
#Contact h2{
    color: #E0752F;
    font-weight: bold;
    font-size: 2.4rem;
    
}

.alert{
    width:32rem;
    margin-top: 15px;
    background-color:white;
    border-color: #E0752F;
    color:#E0752F;
    
}

