 
.container-fluid{
    padding:0px;
    
}

.nav-link{
    color: white;
}
  
#navbarNav{
    padding-left: 50%;
    
}

.nav-item{
    margin: 0 0 0 20px;
}

.btn-primary{
    border-radius: 25px;
    color: white;
    width: 144px;
    height: 48px;
    background-color: #E0752F;
    
}

.carousel-indicators [data-bs-target] {
    border-radius: 50%;
    border: none;
    height:8px;
    width:50px;
    opacity: 1;
    background-color:#5f6368;
}

.carousel-indicators .active{
    background-color:#E0752F; 
}

.letra-chica{
    font-size: 14px;
}

.posicion{
    top: 584px;
    left: 0px;
    width: 40px;
    height: 10px;
}

<<<<<<< HEAD
=======
.carrousel-item{
    min-height: 400px;
    background-size: cover;
    
}

.container-fluid{
    padding-top: 2rem;
}





>>>>>>> 9d0c1436b5fe76abc1b4f6bf7a6d19f954b10d8d

.carousel-inner > .carousel-item > img{
  height: 768px;
  width: 1000px;
  top: 0px;
  left: 0px;
}

.cuadro-carrusel-h1{
    top: 254px;
    left: 0px;
    width: 554px;
    height: 115px; 
    color: white;
}

.cuadro-carrusel-p{
    top: 399px;
    left: 0px;
    width: 343px;
    height: 42px; 
    color: white;
}

.cuadro-carrusel-button{
    top: 480px;
    left: 0px;
    width: 144px;
    height: 48px; 
}

